# Ignore node_modules in the root directory
/dev-snippets/node_modules
/dev-snippets/package-lock.json

# Ignore node_modules in the Client directory
/dev-snippets/Client/node_modules
/dev-snippets/Client/package-lock.json

# Ignore node_modules in the Server directory
/dev-snippets/Server/node_modules
/dev-snippets/Server/package-lock.json